 <form action = '/note/api/' method = "POST">
  <label for="rating">Rating: </label><br>
  <input type="number" id="rating" name="rating"><br>
  <label for="description">Description:</label><br>
  <input type="text" id="description" name="description"> 
  <button type="submit">Submit</button>
</form> 